# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://etmjycldjyrbsbcuuwzf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV0bWp5Y2xkanlyYnNiY3V1d3pmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3NzE1MzMsImV4cCI6MjEwMDM0NzUzM30.dWicbKI4DXTDSgQR5rd8yJ8q6rIXipjej8uc78R1Jcg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV0bWp5Y2xkanlyYnNiY3V1d3pmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDc3MTUzMywiZXhwIjoyMTAwMzQ3NTMzfQ.oZUXLO4qoTkZ00mZdxozkXqcHto4Gn4upoOdcUVEjJM

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
